<%= form_for(@todo_list)  do |f| %>
  <% if @todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% @todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit class: "btn btn-primary btn-xs" %>
  </div>
<% end %>


<!-- Trying to add bootstrap classes to the form but causing syntax errors -->
<!-- class: "btn btn-default btn-xs"  -->
<!-- , html => {:class => "form-horizontal"} -->
<!-- , class: "btn btn-default btn-xs" -->