

<h1><%= @todo_list.title %></h1>


<h2><%= @todo_list.description %></h2>

<% if @todo_list.has_uncompleted_items? %>
<h3>Uncompleted Items:</h3>
  <ul>
    <% @todo_list.todo_items.uncompleted.each do |todo_item| %>
    <li><%= todo_item.content %></li>
    <% end %>
  </ul>
<% end %>

<% if @todo_list.has_completed_items? %>
<h3>Completed Items:</h3>
  <ul>
    <% @todo_list.todo_items.completed.each do |todo_item| %>
    <li><%= todo_item.content %></li>
    <% end %>
  </ul>
<% end %>


<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
