<!DOCTYPE html>
<html>
<head>
  <title>Odot2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>

  <%= csrf_meta_tags %>
</head>

<body>


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">

    <% flash.each do |type, message| %>
      <div class='alert flash <%= type %>'>
      <%= message %>
      </div>
    <% end %>

    <span class="mdl-layout-title">Odot2</span>

    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete,
          class: 'mdl-navigation__link') %>
        <%= link_to('Edit registration', edit_user_registration_path,
          class: 'mdl-navigation__link') %>
      <% else %>
        <%= link_to('Login', new_user_session_path,
          class: 'mdl-navigation__link')  %>
        <%= link_to('Register', new_user_registration_path,
          class: 'mdl-navigation__link')  %>  
      <% end %>
    </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <%= yield %>
    </div>
  </main>
</div>

</body>
</html>
