<!DOCTYPE html>
<html lang="en">
<head>
  <title>Odot2</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body class="home">

  <header>
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= todo_lists_path %>">Odot2</a>
        </div>

        <!-- <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li role='presentation'><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <li role='presentation'><%= link_to('Edit registration', 
                edit_user_registration_path) %></li>
            <% else %>
            <li role='presentation'><%= link_to('Login', new_user_session_path) %></li>
            <li role='presentation'><%= link_to('Register', new_user_registration_path) %></li>
            <% end %>
          </ul>
        </div> -->
      </div>
    </nav>
  </header>

  <%= render partial: "layouts/flash" %>
  
  <!-- <main>  -->
    <%= yield %>
  <!-- </main> -->
  
  <footer>
    <div class="footer pull-left">
      <% if user_signed_in? %>
        <a role='presentation'><%= link_to('My Todo Lists', 
          todo_lists_path) %></a>
      <% else %>
        <a role='presentation'><%= link_to('Already have an account? Sign in.', new_user_session_path) %></a>
      <% end %>
    </div>
  </footer>


</body>
</html>
